[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
isort = "*"
nbstripout = "*"

[packages]
voila = "*"
ipywidgets = "*"
ipysheet = "*"
qgrid = "*"
bqplot = "*"
ipympl = "*"
ipyvolume = "*"
ipyvuetify = "*"
voila-vuetify = "*"
jupyter-server = "*"
scipy = "*"
confuse = "*"
voila-reveal = "*"
restart = "*"
h5py = "*"
altair = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
