[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nptyping = "*"
pydocstyle = "*"
pdoc3 = "*"
flake8 = "*"
mypy = "*"
bandit = "*"
black = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
yamllint = "*"
pre-commit = "*"
isort = "*"
seed-isort-config = "*"

[packages]
streamlit = "*"
altair = "*"
# https://stackoverflow.com/questions/63198480/keyerror-selector-while-deploying-streamlit-python-app-on-heroku/63198786#63198786
# Streamlit bug on selector
pyyaml = "*"
xlrd = "*"
tables = "*"
pandas = "<1.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
