[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nptyping = "*"
pydocstyle = "*"
pdoc3 = "*"
flake8 = "*"
mypy = "*"
bandit = "*"
black = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
yamllint = "*"
pre-commit = "*"
isort = "*"
seed-isort-config = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[packages]
voila = "*"
ipywidgets = "*"
ipysheet = "*"
pandas = "*"
pyyaml = "*"
xlrd = "*"
tables = "*"
confuse = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pyomo = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
