[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nptyping = "*"
pydocstyle = "*"
pdoc3 = "*"
flake8 = "*"
mypy = "*"
bandit = "*"
black = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
yamllint = "*"

[packages]
streamlit = "*"
altair = "*"
pandas = "*"
pyyaml = "*"
xlrd = "*"
tables = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
