---
name: Build

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout action
      uses: actions/checkout@v2

    - name: Setup python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: install -d

    - name: Test main
      uses: VaultVulp/action-pipenv@v2.0.1
      with:
        command: run ./model/src/main.py --load yaml --pop oes
